In [9]:
import pandas as pd
agedata=pd.read_excel('C:/Users/user/Downloads/연령별데이터.xlsx')
del agedata["시도명"]
del agedata["데이터기준일자"]
del agedata["업종코드"]
del agedata["매장수"]
del agedata["지역구분"]
del agedata["성별"]
del agedata["업종명 대분류"]
del agedata["관광구분"]
del agedata["이용자 구분"]
pd.options.display.float_format = '{:.2f}'.format
agedata=agedata.dropna()

agedata

               년월  읍면동명       업종명   연령대     이용금액
0      2019-01-01   신효동  서양식 음식점업 50.00    11000
1      2019-01-01   신효동  서양식 음식점업 70.00    60000
2      2019-01-01   서홍동  서양식 음식점업 60.00    68000
3      2019-01-01   신효동  서양식 음식점업 40.00    50000
4      2019-01-01   월평동  서양식 음식점업 50.00    56000
...           ...   ...       ...   ...      ...
508083 2019-12-01  도련일동   한식 음식점업 40.00   854300
508084 2019-12-01   한경면       여관업 50.00    50000
508085 2019-12-01  도련이동   한식 음식점업 10.00    46500
508086 2019-12-01  도련일동   한식 음식점업 30.00  2224800
508087 2019-12-01  도련이동   한식 음식점업 50.00  1887000

[467184 rows x 5 columns]

In [29]:
#43 개 동분리
#제주시
agedata = agedata.set_index('읍면동명',inplace=True)
agedata.loc[["이도이동","도남동"],"읍면동명"]="이도2동"
agedata.loc[["일도일동"],"읍면동명"]="일도1동"
agedata.loc[["일도이동"],"읍면동명"]="일도2동"
agedata.loc[["이도일동"],"읍면동명"]="이도1동"
agedata.loc[["삼도일동"],"읍면동명"]="삼도1동"
agedata.loc[["삼도이동"],"읍면동명"]="삼도2동"
agedata.loc[["용담일동"],"읍면동명"]="용담1동"
agedata.loc[["용담이동","용담삼동"],"읍면동명"]="용담2동"
agedata.loc[["화북일동","화북이동"],"읍면동명"]="화북동"
agedata.loc[["삼양일동","삼양이동","삼양삼동","도련일동","도련이동"],"읍면동명"]="삼양동"
agedata.loc[["봉개동","용강동","회천동"],"읍면동명"]="봉개동"
agedata.loc[["아라일동","아라이동","오등동","월평동","영평동"],"읍면동명"]="아라동"
agedata.loc[["해안동"],"읍면동명"]="노형동"
agedata.loc[["외도일동","외도이동","도평동","내도동"],"읍면동명"]="외도동"
agedata.loc[["이호일동","이호이동"],"읍면동명"]="이호동"
agedata.loc[["도두일동","도두이동"],"읍면동명"]="도두동"
#서귀포시

KeyError: "None of ['읍면동명'] are in the columns"

In [30]:
#소매업으로 분류
agedata.reset_index(drop=True)
some_group=agedata[(agedata['업종명']=="과실 및 채소 소매업")
    |(agedata["업종명"]=="관광 민예품 및 선물용품 소매업")
   |(agedata["업종명"]=="수산물 소매업")
    |(agedata["업종명"]=="육류 소매업")
    |(agedata["업종명"]=="빵 및 과자류 소매업")
    |(agedata["업종명"]=="화장품 및 방향제 소매업")]
some_group["업종명"]="소매업"

       
some_group_1020=some_group[(some_group['연령대']==10.0)
                           |(some_group["연령대"]==20.0)]
some_group_1020["연령대"] = "청소년"

some_group_3050=some_group[(some_group["연령대"]==30.0)
                          |(some_group["연령대"]==40.0)
                          |(some_group["연령대"]==50.0)]
some_group_3050["연령대"] = "성인"
some_group_6070=some_group[(some_group["연령대"]==60.0)
                          |(some_group["연령대"]==70.0)]
some_group_6070["연령대"] = "노인"
list=[some_group_1020,some_group_3050,some_group_6070]
some=[]
some=[0]*3

for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    some[i]=data
    print(data)

<ipython-input-30-f3f272e178f3>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group["업종명"]="소매업"
<ipython-input-30-f3f272e178f3>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group_1020["연령대"] = "청소년"
<ipython-input-30-f3f272e178f3>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group_3050["연령대"] = "성인"
<ipython-input-30-f3f272e178f3>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  some_group_6070["연령대"] = "노인"

ValueError: Length mismatch: Expected axis has 3 elements, new values have 4 elements

In [9]:
#식음료 으로 분류
food_group=agedata[(agedata['업종명']=="피자, 햄버거, 샌드위치 및 유사 음식점업")
    |(agedata["업종명"]=="한식 음식점업")
   |(agedata["업종명"]=="일식 음식점업")
    |(agedata["업종명"]=="서양식 음식점업")
    |(agedata["업종명"]=="중식 음식점업")
    |(agedata["업종명"]=="기타 외국식 음식점업")
    |(agedata["업종명"]=="비알콜 음료점업")]
food_group["업종명"]="식음료"

       
food_group_1020=food_group[(food_group['연령대']==10.0)
                           |(food_group["연령대"]==20.0)]
food_group_1020["연령대"] = "청소년"

food_group_3050=food_group[(food_group["연령대"]==30.0)
                          |(food_group["연령대"]==40.0)
                          |(food_group["연령대"]==50.0)]
food_group_3050["연령대"] = "성인"
food_group_6070=food_group[(food_group["연령대"]==60.0)
                          |(food_group["연령대"]==70.0)]
food_group_6070["연령대"] = "노인"
list=[food_group_1020,food_group_3050,food_group_6070]

food=[]
food=[0]*3
for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    food[i]=data
    print(data)

    읍면동명  연령대  업종명   1인당 이용금액
0    강정동  청소년  식음료 1112808.39
1    건입동  청소년  식음료 1096266.86
2    구좌읍  청소년  식음료 3669363.75
3    남원읍  청소년  식음료  704608.95
4    내도동  청소년  식음료   70167.59
..   ...  ...  ...        ...
66   호근동  청소년  식음료  283852.88
67  화북이동  청소년  식음료  230135.07
68  화북일동  청소년  식음료  925289.52
69   회수동  청소년  식음료  254367.59
70   회천동  청소년  식음료  130721.15

[71 rows x 4 columns]
    읍면동명 연령대  업종명   1인당 이용금액
0    강정동  성인  식음료 2864053.07
1    건입동  성인  식음료 3303521.86
2    구좌읍  성인  식음료 5499423.68
3    남원읍  성인  식음료 2881953.60
4    내도동  성인  식음료  214396.83
..   ...  ..  ...        ...
66   호근동  성인  식음료  641004.96
67  화북이동  성인  식음료  996639.35
68  화북일동  성인  식음료 3545655.50
69   회수동  성인  식음료  654821.40
70   회천동  성인  식음료  195675.90

[71 rows x 4 columns]
    읍면동명 연령대  업종명   1인당 이용금액
0    강정동  노인  식음료  716598.73
1    건입동  노인  식음료 1342249.34
2    구좌읍  노인  식음료 1592260.33
3    남원읍  노인  식음료 1390738.60
4    내도동  노인  식음료  113287.36
..   ...  ..  ...        ...
66   호근동  노인  식음료  349150.83
67  화북이동  노인  식음료  319956.65
68  화북일동  노인  식음료  979969.83
69   회수동  노인  식음료  366627.79
70   회천동  노인  식음료   97464.94

[71 rows x 4 columns]

<ipython-input-9-de940afad6ee>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group["업종명"]="식음료"
<ipython-input-9-de940afad6ee>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group_1020["연령대"] = "청소년"
<ipython-input-9-de940afad6ee>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group_3050["연령대"] = "성인"
<ipython-input-9-de940afad6ee>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_group_6070["연령대"] = "노인"

In [10]:
#숙박업 으로 분류
sleep_group=agedata[(agedata['업종명']=="피자, 햄버거, 샌드위치 및 유사 음식점업")
    |(agedata["업종명"]=="한식 음식점업")
   |(agedata["업종명"]=="일식 음식점업")
    |(agedata["업종명"]=="서양식 음식점업")
    |(agedata["업종명"]=="중식 음식점업")
    |(agedata["업종명"]=="기타 외국식 음식점업")
    |(agedata["업종명"]=="비알콜 음료점업")]
sleep_group["업종명"]="숙박업"

       
sleep_group_1020=sleep_group[(sleep_group['연령대']==10.0)
                           |(sleep_group["연령대"]==20.0)]
sleep_group_1020["연령대"] = "청소년"

sleep_group_3050=sleep_group[(sleep_group["연령대"]==30.0)
                          |(sleep_group["연령대"]==40.0)
                          |(sleep_group["연령대"]==50.0)]
sleep_group_3050["연령대"] = "성인"
sleep_group_6070=sleep_group[(sleep_group["연령대"]==60.0)
                          |(sleep_group["연령대"]==70.0)]
sleep_group_6070["연령대"] = "노인"
list=[sleep_group_1020,sleep_group_3050,sleep_group_6070]

sleep=[]
sleep=[0]*3
for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    sleep[i]=data
    print(data)

<ipython-input-10-4d7112db40b1>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group["업종명"]="숙박업"
<ipython-input-10-4d7112db40b1>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group_1020["연령대"] = "청소년"
<ipython-input-10-4d7112db40b1>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group_3050["연령대"] = "성인"
<ipython-input-10-4d7112db40b1>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sleep_group_6070["연령대"] = "노인"

    읍면동명  연령대  업종명   1인당 이용금액
0    강정동  청소년  숙박업 1112808.39
1    건입동  청소년  숙박업 1096266.86
2    구좌읍  청소년  숙박업 3669363.75
3    남원읍  청소년  숙박업  704608.95
4    내도동  청소년  숙박업   70167.59
..   ...  ...  ...        ...
66   호근동  청소년  숙박업  283852.88
67  화북이동  청소년  숙박업  230135.07
68  화북일동  청소년  숙박업  925289.52
69   회수동  청소년  숙박업  254367.59
70   회천동  청소년  숙박업  130721.15

[71 rows x 4 columns]
    읍면동명 연령대  업종명   1인당 이용금액
0    강정동  성인  숙박업 2864053.07
1    건입동  성인  숙박업 3303521.86
2    구좌읍  성인  숙박업 5499423.68
3    남원읍  성인  숙박업 2881953.60
4    내도동  성인  숙박업  214396.83
..   ...  ..  ...        ...
66   호근동  성인  숙박업  641004.96
67  화북이동  성인  숙박업  996639.35
68  화북일동  성인  숙박업 3545655.50
69   회수동  성인  숙박업  654821.40
70   회천동  성인  숙박업  195675.90

[71 rows x 4 columns]
    읍면동명 연령대  업종명   1인당 이용금액
0    강정동  노인  숙박업  716598.73
1    건입동  노인  숙박업 1342249.34
2    구좌읍  노인  숙박업 1592260.33
3    남원읍  노인  숙박업 1390738.60
4    내도동  노인  숙박업  113287.36
..   ...  ..  ...        ...
66   호근동  노인  숙박업  349150.83
67  화북이동  노인  숙박업  319956.65
68  화북일동  노인  숙박업  979969.83
69   회수동  노인  숙박업  366627.79
70   회천동  노인  숙박업   97464.94

[71 rows x 4 columns]

In [11]:
#문화레저 으로 분류
activity_group=agedata[(agedata['업종명']=="스포츠 및 레크레이션 용품 임대업")
    |(agedata["업종명"]=="기타 수상오락 서비스업")]
activity_group["업종명"]="문화레저"

       
activity_group_1020=activity_group[(activity_group['연령대']==10.0)
                           |(activity_group["연령대"]==20.0)]
activity_group_1020["연령대"] = "청소년"

activity_group_3050=activity_group[(activity_group["연령대"]==30.0)
                          |(activity_group["연령대"]==40.0)
                          |(activity_group["연령대"]==50.0)]
activity_group_3050["연령대"] = "성인"
activity_group_6070=activity_group[(activity_group["연령대"]==60.0)
                          |(activity_group["연령대"]==70.0)]
activity_group_6070["연령대"] = "노인"
list=[activity_group_1020,activity_group_3050,activity_group_6070]

activity=[]
activity=[0]*3
for i in range(len(list)):
    age=list[i]
    data=age.groupby(["읍면동명","연령대","업종명"],as_index=False).mean()                        
    data.columns=['읍면동명','연령대',"업종명","1인당 이용금액"]
    activity[i]=data
    print(data)

    읍면동명  연령대   업종명   1인당 이용금액
0    강정동  청소년  문화레저  411985.71
1    건입동  청소년  문화레저  366785.33
2    구좌읍  청소년  문화레저   95087.10
3    남원읍  청소년  문화레저   48370.73
4    내도동  청소년  문화레저   47568.18
5    노형동  청소년  문화레저  982176.94
6    대정읍  청소년  문화레저  384569.01
7    도남동  청소년  문화레저  202702.08
8   도두일동  청소년  문화레저  191227.03
9   도련일동  청소년  문화레저  153230.00
10   동홍동  청소년  문화레저  683838.96
11   법환동  청소년  문화레저  117722.22
12   보목동  청소년  문화레저  137790.70
13   봉개동  청소년  문화레저   97000.00
14  삼도이동  청소년  문화레저  218756.41
15  삼도일동  청소년  문화레저  354048.78
16  삼양이동  청소년  문화레저  205169.57
17   상예동  청소년  문화레저  154169.81
18   상효동  청소년  문화레저   27500.00
19   색달동  청소년  문화레저  280481.03
20   서귀동  청소년  문화레저 2985486.61
21   서호동  청소년  문화레저 1100000.00
22   서홍동  청소년  문화레저  106666.67
23   성산읍  청소년  문화레저   65849.09
24  아라이동  청소년  문화레저  336931.43
25  아라일동  청소년  문화레저  166794.12
26   안덕면  청소년  문화레저   64383.33
27   애월읍  청소년  문화레저  273314.05
28    연동  청소년  문화레저 6152371.82
29   영평동  청소년  문화레저   27250.00
30  오라삼동  청소년  문화레저  258562.50
31  오라이동  청소년  문화레저  136107.14
32  오라일동  청소년  문화레저  330770.49
33  외도이동  청소년  문화레저   70130.77
34  외도일동  청소년  문화레저   12250.00
35  용담삼동  청소년  문화레저   88886.36
36  용담이동  청소년  문화레저  299973.85
37  용담일동  청소년  문화레저  530323.44
38   우도면  청소년  문화레저  886705.98
39  이도이동  청소년  문화레저  657462.44
40  이도일동  청소년  문화레저  209096.03
41  이호이동  청소년  문화레저   54888.89
42  이호일동  청소년  문화레저  144273.81
43  일도이동  청소년  문화레저  471850.74
44  일도일동  청소년  문화레저 9639331.76
45   조천읍  청소년  문화레저  629249.57
46   중문동  청소년  문화레저  176538.10
47   추자면  청소년  문화레저   16500.00
48   토평동  청소년  문화레저   44000.00
49   표선면  청소년  문화레저  224077.72
50   한경면  청소년  문화레저  192625.68
51   한림읍  청소년  문화레저  215534.25
52   해안동  청소년  문화레저   17500.00
53   호근동  청소년  문화레저   62592.59
54  화북이동  청소년  문화레저  115500.00
55  화북일동  청소년  문화레저   92291.67
    읍면동명 연령대   업종명    1인당 이용금액
0    강정동  성인  문화레저   428589.74
1    건입동  성인  문화레저  1503910.09
2    구좌읍  성인  문화레저   266227.41
3    남원읍  성인  문화레저   354698.61
4    내도동  성인  문화레저   154991.54
5    노형동  성인  문화레저  5574857.95
6    대정읍  성인  문화레저  1489728.26
7    도남동  성인  문화레저  2653112.80
8   도두일동  성인  문화레저   687447.98
9   도련일동  성인  문화레저   858166.89
10   동홍동  성인  문화레저  2292677.93
11   법환동  성인  문화레저   104138.46
12   보목동  성인  문화레저   345164.21
13   봉개동  성인  문화레저   109711.54
14  삼도이동  성인  문화레저  1051845.88
15  삼도일동  성인  문화레저  1106678.52
16  삼양이동  성인  문화레저   800621.87
17  삼양일동  성인  문화레저   168800.00
18   상예동  성인  문화레저   244916.15
19   상효동  성인  문화레저   137039.64
20   색달동  성인  문화레저  1860125.00
21   서귀동  성인  문화레저 13466188.96
22   서호동  성인  문화레저   192500.00
23   서홍동  성인  문화레저    99462.96
24   성산읍  성인  문화레저   159487.01
25  아라이동  성인  문화레저  1059103.71
26  아라일동  성인  문화레저   936050.19
27   안덕면  성인  문화레저   226914.20
28   애월읍  성인  문화레저   999019.15
29    연동  성인  문화레저 21193884.65
30   영평동  성인  문화레저    56136.49
31  오라삼동  성인  문화레저   762334.08
32  오라이동  성인  문화레저   346231.46
33  오라일동  성인  문화레저  2492897.61
34  외도이동  성인  문화레저   160530.89
35  외도일동  성인  문화레저   119980.25
36  용담삼동  성인  문화레저   116846.15
37  용담이동  성인  문화레저   438851.97
38  용담일동  성인  문화레저   436556.12
39   우도면  성인  문화레저   649748.03
40  이도이동  성인  문화레저  4302945.93
41  이도일동  성인  문화레저  1420379.81
42  이호이동  성인  문화레저   281848.15
43  이호일동  성인  문화레저   331645.76
44  일도이동  성인  문화레저  2321849.53
45  일도일동  성인  문화레저 37364355.01
46   조천읍  성인  문화레저  1038887.16
47   중문동  성인  문화레저   795857.94
48   추자면  성인  문화레저   125027.78
49   토평동  성인  문화레저   435854.33
50   표선면  성인  문화레저  1053089.33
51   한경면  성인  문화레저    97302.83
52   한림읍  성인  문화레저   677884.51
53   해안동  성인  문화레저    70482.76
54   호근동  성인  문화레저    71250.00
55  화북이동  성인  문화레저   530036.89
56  화북일동  성인  문화레저   321064.83
    읍면동명 연령대   업종명    1인당 이용금액
0    강정동  노인  문화레저   431500.00
1    건입동  노인  문화레저   922087.21
2    구좌읍  노인  문화레저   103192.06
3    남원읍  노인  문화레저   204660.00
4    내도동  노인  문화레저    82000.00
5    노형동  노인  문화레저  2702942.58
6    대정읍  노인  문화레저  1054895.40
7    도남동  노인  문화레저  1526341.24
8   도두일동  노인  문화레저   389386.52
9   도련일동  노인  문화레저   239087.27
10   동홍동  노인  문화레저   909778.76
11   보목동  노인  문화레저    81284.55
12   봉개동  노인  문화레저    93142.86
13  삼도이동  노인  문화레저  1176494.38
14  삼도일동  노인  문화레저   940943.84
15  삼양이동  노인  문화레저   239772.22
16  삼양일동  노인  문화레저   343500.00
17   상예동  노인  문화레저    58241.38
18   상효동  노인  문화레저   197898.51
19   색달동  노인  문화레저   568325.76
20   서귀동  노인  문화레저  7212327.20
21   서홍동  노인  문화레저    41666.67
22   성산읍  노인  문화레저   130091.67
23  아라이동  노인  문화레저   275596.67
24  아라일동  노인  문화레저   770931.11
25   안덕면  노인  문화레저   212317.48
26   애월읍  노인  문화레저   420092.68
27    연동  노인  문화레저  6178943.22
28   영평동  노인  문화레저   580658.70
29  오라삼동  노인  문화레저   200020.00
30  오라이동  노인  문화레저   563284.00
31  오라일동  노인  문화레저  2797625.76
32  외도이동  노인  문화레저   140777.14
33  외도일동  노인  문화레저    71666.67
34  용담삼동  노인  문화레저   233705.88
35  용담이동  노인  문화레저   195194.44
36  용담일동  노인  문화레저   227567.90
37   우도면  노인  문화레저   124621.21
38  이도이동  노인  문화레저  1915823.76
39  이도일동  노인  문화레저  2420770.83
40  이호이동  노인  문화레저    55266.67
41  이호일동  노인  문화레저   160039.34
42  일도이동  노인  문화레저  1219866.09
43  일도일동  노인  문화레저 12727597.78
44   조천읍  노인  문화레저   158900.79
45   중문동  노인  문화레저   345540.71
46   추자면  노인  문화레저   255857.14
47   토평동  노인  문화레저   258977.27
48   표선면  노인  문화레저   202234.65
49   한경면  노인  문화레저   117869.05
50   한림읍  노인  문화레저   349962.39
51   해안동  노인  문화레저   104125.00
52   호근동  노인  문화레저    31666.67
53  화북이동  노인  문화레저   187406.25
54  화북일동  노인  문화레저   142271.43

<ipython-input-11-efd1644e4480>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group["업종명"]="문화레저"
<ipython-input-11-efd1644e4480>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group_1020["연령대"] = "청소년"
<ipython-input-11-efd1644e4480>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group_3050["연령대"] = "성인"
<ipython-input-11-efd1644e4480>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  activity_group_6070["연령대"] = "노인"

In [12]:
data=pd.concat([sleep[0],sleep[1],sleep[2],food[0],food[1],food[2],
                activity[0],activity[1],activity[2],some[0],some[1],some[2]])
data.to_csv("19년 나이별 1인당이용금액.csv",index=True)